<!-- <app-header></app-header>
<app-hero></app-hero>
้<h1>เริ่ม about</h1>
<app-about></app-about>
้<h1>เริ่ม service</h1>
<app-service></app-service>
้<h1>เริ่ม portfolio</h1>
<app-portfolio></app-portfolio>
้<h1>เริ่ม team</h1>
<app-team></app-team>
้<h1>เริ่ม careers</h1>
<app-careers></app-careers>
้<h1>เริ่ม careers</h1>
<app-contact></app-contact> -->



<app-header></app-header>
<app-hero></app-hero>
<app-about></app-about>
<app-service></app-service>
<app-portfolio></app-portfolio>
<app-team></app-team>
<app-careers></app-careers>
<app-contact></app-contact>




